schema/vara.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="VaraType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"/>
            <xs:element name="nimetus" type="xs:string"/>
            <xs:element name="seisund" type="xs:string"/>
            <xs:element name="maksumus" type="xs:decimal"/>
            <xs:element name="vastutaja" type="xs:string"/>
            <xs:element name="ostukuupäev" type="xs:date" minOccurs="0"/>
            <xs:element name="asukoht" type="xs:string" minOccurs="0"/>
            <xs:element name="markus" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="dim1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dim2">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dim3">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="vara" type="VaraType" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
